.color-nav{
  background-color: #203058;
  background-image: linear-gradient(to bottom right, #203058, #3f5eb0);
}

@media (max-width: 992px){
  
  .nav-container{
    display: flex;
    width: 100%;
  }
  .search-bar {
    flex: 8;
    margin-right: 1em;
  }
  .wideShare{
    margin-right: 2em !important;
  }

  .mobileSpinner{
    display: none;
  }

}

@media (min-width: 768px){
  .cardBody{
    padding-left: 0px !important;
    /* color: red */
  }
  .cardImg{
    padding-right: 0em !important;   
  }
}

@media (max-width: 767px){
  .cardImg{
    padding-bottom: 0px !important;
    /* color: red */
  }

}

.cardImg{
  /* padding-right: 0px !important;    */
  padding: 1em;
}


.wideShare{
  margin-right: 4em;
}

.artDesc {
  text-align: justify;

}

.showLess {
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.CardHome, .cardFav {
  box-shadow: 4px 3px 8px 0px #cacaca;
  
}

.CardHome {
  cursor: pointer;
}

img {
  border: 1px solid #dadada !important;
  padding: 2px;
}


.desc{
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.sec{
  float: right;  
  border-radius: 0.2em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  background-color: rgb(111, 117, 123);
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}

#world{
  background-color: rgb(116, 87, 246);
  color: white;
}

#politics{
  background-color: rgb(87, 146, 136);
  color: white;
}

#business{
  background-color: rgb(89, 150, 229);
  color: white;
}

#technology{
  background-color: rgb(209, 218, 89);
  color: black
}

#sports{
  background-color: rgb(238, 195, 92);
  color: black
}

#sport{
  background-color: rgb(238, 195, 92);
  color: black
}

#Guardian{
  background-color: rgb(24, 40, 72);
  color: white;
}

#NYTimes{
  background-color: rgb(221, 221, 221);
  color: black
}

.Toastify__toast--default {
  background: #fff;
  color: #000;
}

.rightIcons a:hover {
  cursor: default;
}